{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="d-flex justify-content-md-end">
        <form action="{% url 'search_recipes' %}" method="GET">
            <label for="name"></label>
            <input type="text" placeholder="name" name="name" id="name">
            <input type="submit" value="Buscar">
        </form>
    </div>
    {% for recipe in object_list %}
        <div class="jumbotron mt-5">
            <div class="card text-center">
                <div class="card-header">
                    <h1 class="display-4">{{ recipe.recipe_name }}</h1>
                    <hr class="my-4">
                    <div class="card-body">
                        <div class="mb-5">
                            <h3 class="display-6">Ingredientes:</h3>
                            {% for ingredient in recipe.recipe_ingredients %}
                                <ul class="list-group list-group-flush d-flex justify-content-center">
                                    <li class="list-group-item">
                                        <h5 class="mt-4">{{ ingredient }}</h5>
                                    </li>
                                </ul>
                            {% endfor %}
                        </div>
                        <hr class="my-4">
                        <h3 class="display-6"> Chef: {{ recipe.user.user_full_name }}</h3>
                        <hr class="my-4">
                        <h5>Fecha de creación: {{ recipe.creation_date }}</h5>
                        <hr class="my-4">
                        <a class="btn btn-secondary btn-lg" href="{% url 'recipes_detail' recipe.id %}" role="button">Instrucciones</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}